#flickr{
    position: relative;
    left: -209px;
    font-size: 49px;
    font-weight: bold;
}
#logo{
    position: relative;
    left: -60px;
    top: -20px;
}
#firstdiv{
    /* height: 90px; */
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    opacity: 0.6;
}
.form-control{
    position: relative;
    top: -30px;
    left: 320px;
    background-color: aliceblue;
}
#image{
    position: relative;
    left: 324px;
    width: 30px;
    height: 39px;
    top: -14px;
    /* border: white; */
    background-color: white;
    border-radius: 4px;
}
#second{
    position: relative;
    left: -70px;
}
#sign{
    position: relative;
    left: 990px;
    bottom: 90px;
    width: 103px;
    height: 50px;
    border-radius: 4px;
    font-size: 23px;
    font-weight: bold;
}
#log{
    position: relative;
    left: 1020px;
    bottom: 90px;
    width: 103px;
    height: 50px;
    border-radius: 4px;
    font-size: 23px;
    font-weight: bold;
}
.carousel-inner{
    height: 610px;
}
#inspiration{
    position: relative;
    width: 50%;
    top: -350px;
    left: 270px;
    /* border: 2px solid green; */
    text-align: center;
}
#lastbutton{
    width: 120px;
    height: 50px;
    border: none;
}
#flex{
    background-color: black;
    position: relative;
    bottom: 199px;
    height: 90px;
    justify-content: space-between;
    display: flex;
    font-family: sans-serif;
    font-size: 17px;
    
}
*{
    padding-bottom: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: none !important;
    padding-bottom: none;
    overflow: hidden;
}
#facebook{
    position: relative;
    right: 10px;
}
#Flickr{
    position: relative;
    right: 20px;
}
@media screen and (max-width:500px){
   
    .container{
        position: relative;
        right: 299px !important;
        width: 20px !important;
        top: -10px !important;
        /* overflow-x: hidden !important; */
    }
    #firstdiv{
        height: 100px;
        margin-bottom: 50px;
        /* width: 35%; */
        /* overflow-x: hidden; */
        
    }
    #image{
        display: none;
    }
    .form-control{
        display: none !important;
    }
    #thirddiv{
        position: relative;
        left: -890px;
        /* width: 10px; */
    }
    /* #second{
        position: relative;
        left: -200px;
    } */
   /* body{ */
    /* overflow: hidden; */
   /* } */
    #billions{
        display: none;
    }
    #find{
        position: relative;
        top: 20px;
    }
    #found{
        position: relative;
        top: 20px;
    }
   
    #second{ 
        margin-left: 170px;
        /* width: 10%; */
        margin-top: -40px;
        /* position: absolute; */
    } 
    /* #second{ */
        /* position: relative; */
        /* width: 70px !important; */
        /* left: -120px !important; */
        /* top: 300px !important; */
        /* display: flex; */
    /* } */
    .carousel-inner{
        width: 100% !important;
        height: 120%;
       
    }
    .d-block{
        height: 690px !important;
    }
    #inspiration{
        position: relative;
        left: 100px;
        top: -400px;
    }
    #flex{
        display: flex;
        /* justify-content: space; */
        height: 200px;
        position: relative;
        top: -310px;
        width: 290%;
        overflow: hidden;
    }
    #facebook{
        position: relative;
        left: -858px;
        top: 120px;
        /* top: 500px; */
        /* display: block; */
    }
    #section{
        overflow-x: hidden;
    }
    #sign{
        position: relative;
        top: -30px;
        /* left: -10px; */
    }
    #log{
        position: relative;
        top: -30px;
    }
    #Flickr{
        /* position: relative; */
        left: -855px;
        top: 120px;
    }
    #en{
        position: relative;
        left: -525px;
        top: 80px;
    }
    #forum{
        position: relative;
        left: -275px;
        top: 40px; 
    }
    /* #seconds{ */
        /* display: none; */
        /* position: relative; */
        /* left: -150px;/ */
        /* top: 6000px; */
    /* } */
}